---
const { data } = Astro.props;
---

<article class="card">
  <a href={`/products/${data.slug}`}>
    <img src={data.billeder} alt={`Image of ${data.navn}`} class="product-image" />
  </a>
  <h3><strong>{data.navn}</strong></h3>
  <p>{data.pris} kr.</p>

  <div class="colors">
    {data.farve?.includes("#FFFFFF") && <span class="color white" />}
    {data.farve?.includes("#000000") && <span class="color black" />}
  </div>
</article>

<style>
  .card {
    border: 1px solid #e5e5e5;
    /* padding: 1rem; */
    /* width: 500px; */
    background: white;
    margin: 3rem;
  }

  .product-image {
    width: 100%;
    height: auto;
    /* border-radius: 8px; */
    margin-bottom: 1rem;
  }

  .card-content h3 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }

  .card-content p {
    margin: 0.5rem 0;
  }

  .colors {
    display: flex;
    gap: 0.5rem;
  }

  .color-dot {
    width: 30px;
    height: 15px;
    border-radius: 10%;
    border: 1px solid #ccc;
  }
</style>
